.header {
	width: 100%;
	min-width: 1280px; /*em telas menores tera o mesmo tamnho que article*/
	height: 200px;
	background: rgb(224, 24, 197);
}
.center {
	box-sizing: border-box;
	width: 1280px;
	margin: 0 auto;
	padding: 30px;
}

.article {
	/* width: 100%; */
	width: 1280px;
	margin: 0 auto;
	height: 600px;
	background: rgb(104, 23, 107);
}

.artigo {
	margin: auto 50px;
}
/*margin: top direita botton esquerda
margin: (top e botton) (right left)*/
.center2 {
	box-sizing: border-box;
	width: 1280px;
	margin: 0 auto;
}

.artigo2 {
	box-sizing: border-box;
	width: 45%;
	padding-left: 80px;
	padding-top: 30px;
}
/*artigo2/3 - é preciso saber o tamanho exato do texto, pois qdo aumentado, perdem sua formatação ideal*/
.artigo3 {
	box-sizing: border-box;
	width: 45%;
	padding-left: 80px;
	margin-top: -124px;
	margin-left: 49%;
}

.artigo4 {
	margin-top: 30px;
	margin-right: -4px;
	display: inline-block;
	width: 600px;
}

.artigo5 {
	margin: 30px 20px;
	display: inline-block;
	width: 560px;
}

.artigo6 {
	box-sizing: border-box;
	border: 5px solid rgba(33, 5, 34, 0.5);
	vertical-align: top;
	margin: 30px 20px 20px 20px;
	display: inline-block;
	width: 560px;
}

.artigo7 {
	box-sizing: border-box;
	border: 40px dotted rgba(33, 5, 34, 0.1);
	vertical-align: top;
	display: inline-block;
	width: 560px;
}

.artigo8 {
	box-sizing: border-box;
	border-width: 20px;
	border-style: double;
	border-top-color: chartreuse;
	border-left-color: rgb(239, 219, 240);
	border-right-color: black;
	border-bottom-color: blue;
	vertical-align: top;
	display: inline-block;
	width: 560px;
}

.artigo9 {
	outline: 30px solid blueviolet;
	margin-bottom: 80px;
	margin-top: 30px;
	width: 500px;
}
