input {
	background-color: cornflowerblue;
}

input[type="text"] {
	background-color: rgb(210, 100, 237);
}

input.text[type="text"] {
	background-color: rgb(72, 34, 82);
}

input[type="submit"] {
	background-color: rgb(123, 237, 100);
}

.submit[type="submit"] {
	background-color: rgb(228, 237, 100);
}

input.pass[type="password"] {
	background-color: rgb(184, 39, 46);
}

table {
	width: 400px;
	margin: 0 auto;
}

/*tem border para colidir = então colida*/
table.collapse {
	width: 500px;
	border-collapse: collapse;
}

table.collapse tr td {
	border: 1px solid black;
}

table._top {
	width: 600px;
	border-collapse: collapse;
}

table._top tr td {
	height: 80px;
	vertical-align: top;
	border: 1px solid black;
}

table._middle {
	width: 700px;
	border-collapse: collapse;
}

table._middle tr td {
	height: 80px;
	vertical-align: middle;
	border: 1px solid black;
}

._bottom {
	width: 700px;
	border-collapse: collapse;
}

._bottom tr td {
	background-color: rgb(230, 226, 226);
	height: 80px;
	vertical-align: bottom;
	border: 3px solid black;
}
